In [1]:
import pandas as pd

import random
import numpy

### Stocks

In [2]:
df = pd.read_csv('/home/ashrulochan/Downloads/Stocks_data.csv')

df.head()

  outlet_id  product_id  quantity
0      ST01        2075        218
1      ST02        4652        131
2      ST01        1395        209
3      ST03         983        264
4      ST02        1021        249

In [3]:
df.shape

(10000, 3)

In [4]:
for i in df.iterrows():
    print(i)
    break

(0, outlet_id     ST01
product_id    2075
quantity       218
Name: 0, dtype: object)

In [10]:
for row in df.iterrows():
    print(f"INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)\n\tVALUES ('{row[1][0]}', '{row[1][1]}', {row[1][2]});")

INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2075', 218);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4652', 131);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1395', 209);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '983', 264);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1021', 249);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '327', 112);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2516', 201);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2298', 268);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1220', 281);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4410', 301);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4542', 336);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2015', 159);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2364', 323);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '702', 148);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4886', 232);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '654', 211);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '157', 62);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '397', 162);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1449', 279);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3642', 150);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '97', 167);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4428', 199);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2481', 326);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3856', 60);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '4159', 339);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4895', 320);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1815', 88);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3763', 150);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3027', 339);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1564', 122);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '1434', 347);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3095', 157);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4639', 307);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2816', 51);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3195', 182);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4927', 113);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3529', 329);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4480', 218);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1413', 348);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3388', 72);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2295', 179);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4895', 120);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4239', 131);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '717', 122);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2844', 193);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3563', 248);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3862', 178);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '827', 305);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1413', 149);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '995', 226);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1985', 150);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '472', 86);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1278', 276);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '468', 73);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4726', 228);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '46', 119);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '1884', 272);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '4819', 322);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1336', 85);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3614', 64);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2456', 185);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2435', 134);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4017', 151);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2734', 180);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2791', 131);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4792', 121);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2082', 267);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '135', 204);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1540', 63);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3660', 133);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4243', 156);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3698', 192);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3244', 198);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3114', 99);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '4933', 59);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4545', 52);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '1466', 229);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2365', 156);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '34', 143);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2244', 151);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '907', 98);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3833', 308);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4380', 345);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4088', 296);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '162', 222);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1360', 173);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1885', 285);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3461', 241);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4993', 148);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4058', 212);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2743', 160);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '90', 267);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3491', 246);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '17', 162);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '4912', 268);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2435', 295);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '240', 209);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '1496', 183);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '485', 143);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3572', 180);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3562', 215);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2603', 68);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '750', 172);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3622', 203);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '667', 61);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '898', 302);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '210', 211);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4303', 189);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '1568', 139);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2845', 343);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2499', 302);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '401', 227);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3476', 184);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1705', 253);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '499', 310);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '204', 298);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3701', 326);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2912', 304);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2825', 184);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '15', 296);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4962', 181);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '375', 89);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '4077', 280);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3409', 160);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3702', 74);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '407', 345);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2197', 171);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '227', 274);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '171', 145);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4237', 322);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4011', 310);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '282', 106);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '931', 58);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '22', 245);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1176', 314);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4391', 74);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4823', 251);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3066', 308);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3428', 233);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '474', 210);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '237', 135);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2039', 201);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3605', 338);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1638', 313);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2255', 187);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4829', 247);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1304', 229);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '951', 84);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '109', 230);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1282', 67);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '364', 331);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1065', 244);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2409', 108);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2353', 205);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4053', 120);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '4251', 237);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '289', 250);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '448', 295);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2142', 272);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3548', 186);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '4117', 338);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4949', 75);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3573', 286);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '565', 50);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '259', 62);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4510', 182);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3523', 227);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1710', 114);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3301', 75);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2887', 108);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3747', 290);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '1657', 152);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2670', 125);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '1811', 209);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2884', 123);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4850', 133);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '921', 338);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '1543', 114);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '880', 238);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4735', 138);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '3494', 106);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3468', 189);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2265', 312);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '80', 90);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '4215', 103);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '99', 128);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2328', 254);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2526', 151);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '134', 280);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '402', 55);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2648', 231);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '873', 69);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2268', 92);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2668', 172);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2281', 296);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '4487', 210);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2040', 334);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '1535', 198);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '84', 286);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2590', 62);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '2538', 266);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST02', '3510', 146);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2671', 107);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '2880', 302);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '594', 341);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST04', '2596', 264);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '395', 68);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '3662', 80);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST03', '259', 275);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '2206', 270);
INSERT INTO HyperMarket.stocks(outlet_id, product_id, quantity)
	VALUES ('ST01', '3215', 156);

### Orders

In [2]:
df = pd.read_excel('/home/ashrulochan/Downloads/orders_table.xlsx')

In [3]:
df.head()

   Unnamed: 0  Unnamed: 1 order_id  customer_id order_date outlet_id
0         NaN         NaN  tx-1001  ST1ADRB5108 2022-02-17      ST02
1         NaN         NaN  tx-1002  ST1AECN6781 2022-03-21      ST01
2         NaN         NaN  tx-1003  ST1AFEQ7815 2022-06-11      ST04
3         NaN         NaN  tx-1004  ST1AOEI2519 2022-02-27      ST04
4         NaN         NaN  tx-1005  ST1BCNP3754 2022-02-22      ST01

In [4]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 1'])

df.head()

  order_id  customer_id order_date outlet_id
0  tx-1001  ST1ADRB5108 2022-02-17      ST02
1  tx-1002  ST1AECN6781 2022-03-21      ST01
2  tx-1003  ST1AFEQ7815 2022-06-11      ST04
3  tx-1004  ST1AOEI2519 2022-02-27      ST04
4  tx-1005  ST1BCNP3754 2022-02-22      ST01

In [14]:
for row in df.iterrows():
    print(row[1]['outlet_id'])
    break

ST02

In [15]:
for row in df.iterrows():
    print(f"INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)\n\tVALUES('{row[1]['order_id']}', '{row[1]['customer_id']}', '{row[1]['order_date']}', '{row[1]['outlet_id']}');")

INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1001', 'ST1ADRB5108', '2022-02-17 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1002', 'ST1AECN6781', '2022-03-21 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1003', 'ST1AFEQ7815', '2022-06-11 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1004', 'ST1AOEI2519', '2022-02-27 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1005', 'ST1BCNP3754', '2022-02-22 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1006', 'ST1BEHX3690', '2022-02-22 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1007', 'ST1BZAI1063', '2022-04-12 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1008', 'ST1CTEH1830', '2022-06-01 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1009', 'ST1DKNS8109', '2022-03-29 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1010', 'ST1DXBW6208', '2022-05-09 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1011', 'ST1DZOR5723', '2022-01-13 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1012', 'ST1EWSG3297', '2022-05-31 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1013', 'ST1FMEX9465', '2022-06-27 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1014', 'ST1GMBL0365', '2022-02-13 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1015', 'ST1HFYE8526', '2022-02-20 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1016', 'ST1IAWL4190', '2022-03-02 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1017', 'ST1IELB0962', '2022-06-16 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1018', 'ST1JAUC2830', '2022-06-25 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1019', 'ST1JAXB1605', '2022-03-30 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1020', 'ST1JUNV2160', '2022-06-07 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1021', 'ST1KDUP5297', '2022-05-22 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1022', 'ST1KJFP0135', '2022-02-19 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1023', 'ST1KRCW8173', '2022-05-19 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1024', 'ST1KUED9014', '2022-05-30 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1025', 'ST1LQFB8796', '2022-02-04 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1026', 'ST1LWID4861', '2022-04-07 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1027', 'ST1LZER9708', '2022-05-18 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1028', 'ST1MBIT1085', '2022-01-31 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1029', 'ST1MCAO0394', '2022-03-14 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1030', 'ST1MDJZ9485', '2022-04-23 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1031', 'ST1NCQH7684', '2022-03-27 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1032', 'ST1NKJB5096', '2022-02-01 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1033', 'ST1OILN7816', '2022-01-31 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1034', 'ST1OQHZ0278', '2022-03-22 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1035', 'ST1PQGX3106', '2022-06-12 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1036', 'ST1QASF2068', '2022-04-20 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1037', 'ST1RGNL0128', '2022-06-25 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1038', 'ST1RMAY4560', '2022-01-09 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1039', 'ST1RQFA5792', '2022-01-24 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1040', 'ST1RWIA7245', '2022-03-15 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1041', 'ST1SPFX7932', '2022-06-15 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1042', 'ST1THSZ9506', '2022-06-08 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1043', 'ST1TKPC5768', '2022-06-12 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1044', 'ST1TLFR6813', '2022-04-18 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1045', 'ST1TPRK3470', '2022-06-07 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1046', 'ST1TUFI4317', '2022-02-17 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1047', 'ST1TVFQ1540', '2022-05-24 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1048', 'ST1TVJM3487', '2022-01-14 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1049', 'ST1UBSF0782', '2022-04-25 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1050', 'ST1UVIY4310', '2022-06-14 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1051', 'ST1VGAS4317', '2022-05-22 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1052', 'ST1VUXR4587', '2022-03-11 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1053', 'ST1WCTF2907', '2022-05-30 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1054', 'ST1WDMT7430', '2022-01-14 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1055', 'ST1WEMQ8245', '2022-06-20 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1056', 'ST1WFKM1543', '2022-06-26 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1057', 'ST1WLMO8652', '2022-02-07 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1058', 'ST1WSPL6085', '2022-04-03 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1059', 'ST1XJSZ3958', '2022-03-31 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1060', 'ST1XYOC7820', '2022-04-28 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1061', 'ST1YHVM9238', '2022-01-14 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1062', 'ST1YPOX7612', '2022-03-31 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1063', 'ST1ZIUO9682', '2022-04-27 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1064', 'ST2AEIK8759', '2022-06-01 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1065', 'ST2AOXB6348', '2022-02-06 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1066', 'ST2AVNI5913', '2022-04-30 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1067', 'ST2BCPV1835', '2022-04-25 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1068', 'ST2BLUE0419', '2022-06-07 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1069', 'ST2BUNF0513', '2022-01-10 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1070', 'ST2CNXU7840', '2022-05-31 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1071', 'ST2CZNR1496', '2022-05-11 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1072', 'ST2DEPZ2451', '2022-04-01 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1073', 'ST2DXSH3957', '2022-06-19 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1074', 'ST2EZJR5492', '2022-02-28 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1075', 'ST2FVBK5298', '2022-05-24 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1076', 'ST2FWPL7059', '2022-05-09 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1077', 'ST2FZYR1268', '2022-02-09 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1078', 'ST2GAJF7209', '2022-02-20 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1079', 'ST2GFPK7325', '2022-01-29 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1080', 'ST2GQJT9075', '2022-01-07 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1081', 'ST2HICX8193', '2022-03-14 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1082', 'ST2HXOA4985', '2022-06-09 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1083', 'ST2IKEN1327', '2022-04-21 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1084', 'ST2IKRH3542', '2022-02-27 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1085', 'ST2JXVG9183', '2022-04-07 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1086', 'ST2JZIA7298', '2022-02-26 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1087', 'ST2LSPA4529', '2022-05-11 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1088', 'ST2MODX0231', '2022-06-06 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1089', 'ST2MTJZ0694', '2022-06-09 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1090', 'ST2MTZW4396', '2022-01-28 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1091', 'ST2MXCP0512', '2022-01-29 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1092', 'ST2NCSG5798', '2022-01-12 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1093', 'ST2NRWM7180', '2022-05-31 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1094', 'ST2NVMP1726', '2022-05-24 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1095', 'ST2OIQV9516', '2022-02-20 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1096', 'ST2OZUR9340', '2022-05-04 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1097', 'ST2PAZY6705', '2022-02-26 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1098', 'ST2PGYW9854', '2022-05-31 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1099', 'ST2PMSR5412', '2022-04-06 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1100', 'ST2QLHG2081', '2022-01-07 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1101', 'ST2QWOR4765', '2022-06-14 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1102', 'ST2RANQ3146', '2022-04-05 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1103', 'ST2RQVT3695', '2022-06-29 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1104', 'ST2RTKD1903', '2022-02-21 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1105', 'ST2RZUV9132', '2022-01-08 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1106', 'ST2SRZT8912', '2022-05-27 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1107', 'ST2SZAI6895', '2022-04-07 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1108', 'ST2TCUB1308', '2022-02-11 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1109', 'ST2TJVH4738', '2022-06-21 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1110', 'ST2TWKY4896', '2022-01-14 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1111', 'ST2UNMJ8247', '2022-06-01 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1112', 'ST2UQDS7241', '2022-04-01 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1113', 'ST2UTAH0147', '2022-05-24 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1114', 'ST2UZXV4861', '2022-06-09 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1115', 'ST2VEDU2786', '2022-01-01 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1116', 'ST2VQDE5786', '2022-06-01 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1117', 'ST2VTWE4830', '2022-03-17 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1118', 'ST2WCPV3901', '2022-01-22 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1119', 'ST2WGEI0129', '2022-01-19 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1120', 'ST2WKTQ7148', '2022-06-04 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1121', 'ST2WNGH3492', '2022-04-12 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1122', 'ST2WZHN7015', '2022-02-15 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1123', 'ST2XCAQ5238', '2022-02-16 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1124', 'ST2XGHD1879', '2022-02-19 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1125', 'ST2XQJR8109', '2022-06-20 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1126', 'ST2YSCR3149', '2022-06-28 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1127', 'ST2ZMEU8640', '2022-05-04 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1128', 'ST2ZWGH6981', '2022-04-02 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1129', 'ST2ZYIL6983', '2022-02-21 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1130', 'ST2ZYKD2350', '2022-06-04 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1131', 'ST3ASEW9602', '2022-04-14 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1132', 'ST3ATYP6025', '2022-06-29 00:00:00', 'ST01');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1133', 'ST3AUVX7943', '2022-06-15 00:00:00', 'ST03');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1134', 'ST3AYWO9481', '2022-05-12 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1135', 'ST3BQAH8329', '2022-04-07 00:00:00', 'ST02');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1136', 'ST3BZFW2354', '2022-04-05 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1137', 'ST3CHGP1752', '2022-04-11 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)
	VALUES('tx-1138', 'ST3CVFJ7934', '2022-01-14 00:00:00', 'ST04');
INSERT INTO HyperMarket.orders (order_id, customer_id, order_date, outlet_id)